html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: black;
}

.wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
canvas#canvas {
    border: 1px solid white;
    background-image: url(textures/background.png);
}